<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="V_3D_Addin.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <userSettings>
        <V_3D_Addin.Properties.Settings>
            <setting name="layer_name" serializeAs="String">
                <value>XYMT_pen_depth</value>
            </setting>
            <setting name="scale_factor" serializeAs="String">
                <value>0.6</value>
            </setting>
            <setting name="polygon_layer_transparency" serializeAs="String">
                <value>50</value>
            </setting>
        </V_3D_Addin.Properties.Settings>
    </userSettings>
</configuration>